version: "3.8"
services:
  app:
    build: .
    container_name: flask-app
    networks:
      - app_network
    expose:
      - "5000"
    depends_on:
      - db
  db:
    image: mysql:5.7
    container_name: mysql-db
    networks:
      - app_network
    environment:
      MYSQL-DATABASE: root
      MYSQL_ROOT_PASSWORD: todo
    volumes:
      - mysql_data:/var/lib/mysql
  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
    networks:
      - app_network
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on: 
      - app

volumes:
 mysql_data:
networks:
 app_network:
  driver: bridge  
